@{
    ViewData["Title"] = "Advanced Diagnostic Parameter Page";
    Layout = "_Default";
}

<h3 style="position:absolute; top:60px; left:150px;">Параметры расширенной диагностики</h3>
<div style="position:absolute; top:120px; left:20px; width:500px; height:350px;  outline: 1px solid #000;">
    <div style="margin: 5%;">
        <h4>&nbsp; Выберите Группу ТС:</h4>
        @Html.DropDownList("VehicleGroup", ViewBag.VehicleGroups as SelectList, new { id = "vehicleGroup", @class = "form-control" })
        <br />
        <h4>&nbsp; Выберите ТС:</h4>
        @Html.DropDownList("Vehicle", ViewBag.Vehicles as SelectList, new { id = "vehicle", multiple = "multiple", @class = "form-control" })
        <br />
        @*<div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">От</label>
                <div class="col-10">
                    <input class="form-control" type="datetime-local" value="2017-08-19T13:45:00" id="example-datetime-local-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">До</label>
                <div class="col-10">
                    <input class="form-control" type="datetime-local" value="2017-08-19T13:45:00" id="example-datetime-local-input">
                </div>
            </div>*@
        <br />
        <button onclick="showFlightReport();" id="reportFlightView" class="btn btn-default">
            Показать отчет
        </button>
    </div>
</div>
<div style="position:absolute; top:500px; left:20px; width:700px; height:300px;  outline: 1px solid #000;">
    <div style="margin: 5%;">
        <table id="reportTableFlight" class="table" name="ReportTableFuel" width="400">
            <thead>
                <tr>
                    <th>
                        <em>Имя параметра</em>
                    </th>
                    <th>
                        <em>Текущее значение</em>
                    </th>
                    <th>
                        <em>Рекомендуемый номинал</em>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        Давление в шинах (атм)
                    </th>
                    <th>
                        6,1
                    </th>
                    <th>
                        5,5
                    </th>
                </tr>
                <tr>
                    <th>
                        Температура масла в двигателе (&#8451;)
                    </th>
                    <th>
                        124
                    </th>
                    <th>
                        110 - 140
                    </th>
                </tr>
                <tr>
                    <th>
                        Температура охлаждающей жидкости (&#8451;)
                    </th>
                    <th>
                        91
                    </th>
                    <th>
                        85 - 95
                    </th>
                </tr>
                <tr>
                    <th>
                        Вес автопоезда (т)
                    </th>
                    <th>
                        8,3
                    </th>
                    <th>
                        8 - 10
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('#vehicleGroup').change(function () {
                // получаем выбранный id
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetItems", "Server")/' + id,
                    success: function(data) {
                        // заменяем содержимое присланным частичным представлением
                        //$('#vehicle').replaceWith(data);
                        $('#vehicle').empty();

                        $.each(data, function (i, item) {
                            $('#vehicle').append($('<option>', {
                                value: item.vehicleId,
                                text: item.mark + ' ' + item.modelType
                            }));
                        });
                    }
                });
            });
        });

    </script>
    <script>
        $('#vehicle').select(function () {
            var id = $(this).val();
            alert(id);
        });
        function checkList() {
            var veh = document.getElementById("vehicle");
            var id = veh.options[veh.selectedIndex].value;
            alert(id);
            $.ajax({
                type: 'GET',
                @*url: '@Url.Action("GetItems", "Server")/' + id,*@
                url: '@Url.Action("GetFlight", "Server")/'+id,
                success: function(data) {
                    // заменяем содержимое присланным частичным представлением
                    $('#reportTable').replaceWith(data);
                }
            });
        }
        function showFlightReport() {
            //alert("E");
            var veh = document.getElementById("vehicle");
            var id = veh.options[veh.selectedIndex].value;
            alert(id);
            var routeCoordinates = [];
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCoordinates", "Server")/' + id,
                success: function(data) {
                    // заменяем содержимое присланным частичным представлением
                    //$('#routeCoordinate').replaceWith(data);
                    $('#routeCoordinate').empty();

                    $.each(data, function (i, item) {
                        $('#routeCoordinate').append($('<option>', {
                            value: item.routeId,
                            text: item.coordinateLatitude
                        }));
                        lat = item.coordinateLatitude;
                        lon = item.coordinateLongitude;
                        //alert(item.routeId);
                        showVehicleOnMap(lat, lon);
                        routeCoordinates.push({ lat: item.coordinateLatitude, lng: item.coordinateLongitude });
                    });
                    buildRoute(routeCoordinates);
                }
            });
        }
    </script>
}
