@model IEnumerable<SvMonitoringSystem.ViewModels.BasicParameterToParameterView>
@{
    ViewData["Title"] = "Flight Report Page";
    Layout = "_Server";
}

<h4>Выберите Группу ТС</h4>
@Html.DropDownList("VehicleGroup", ViewBag.VehicleGroups as SelectList, new { id = "vehicleGroup" })
<h4>Выберите ТС</h4>
@Html.DropDownList("Vehicle", ViewBag.Vehicles as SelectList, new { id = "vehicle", multiple = "multiple" })
<br />
<div>
    <table id="reportTable" name="ReportTable" width="400"></table>
</div>

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('#vehicleGroup').change(function () {
                // получаем выбранный id
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetItems", "Server")/' + id,
                    success: function(data) {
                        // заменяем содержимое присланным частичным представлением
                        $('#vehicle').replaceWith(data);
                    }
                });
            });
        });

    </script>
    <script>
        $('#vehicle').select(function () {
            var id = $(this).val();
            alert(id);
        });
        function checkList() {
            var veh = document.getElementById("vehicle");
            var id = veh.options[veh.selectedIndex].value;
            alert(id);
            $.ajax({
                type: 'GET',
                @*url: '@Url.Action("GetItems", "Server")/' + id,*@
                url: '@Url.Action("GetFlight", "Server")/'+id,
                success: function(data) {
                    // заменяем содержимое присланным частичным представлением
                    $('#reportTable').replaceWith(data);
                }
            });
        }
    </script>
}
<button onclick="checkList();" id="reportView" class="btn btn-default">
    Показать
</button>