@model IEnumerable<SvMonitoringSystem.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "_Default";
}

<h2>Информация о ТС</h2>

<p>
    <a asp-action="Create">Создать новое ТС</a>
</p>
<table class="table table-striped table-bordered table-hover ">
    <thead>
        <tr>
                <th>
                    Марка
                </th>
                <th>
                    Модель
                </th>
                <th>
                    Регистрационный номер
                </th>
                <th>
                    Год выпуска
                </th>
                <th>
                    Тип ТС
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Редактирование</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
